{% capture twitter_link %}{{ 'https://twitter.com/SanteBelgique' }}{% endcapture %}
{% capture twitter_name %}{{ "@SanteBelgique" }}{% endcapture %}
{% capture facebook_link %}{{ 'https://fr-fr.facebook.com/SPF-Sant%C3%A9-publique-S%C3%A9curit%C3%A9-de-la-Cha%C3%AEne-alimentaire-et-Environnement-181157735273342/' }}{% endcapture %}
{% capture youtube_link %}{{ 'https://www.youtube.com/user/santebelgique' }}{% endcapture %}
{% capture partner1_link %}{{ 'http://www.inami.fgov.be/' }}{% endcapture %}
{% capture partner2_link %}{{ 'http://fanc.fgov.be/fr/page/homepage-federaal-agentschap-voor-nucleaire-controle-fanc/1.aspx' }}{% endcapture %}

<div class="grid-x grid-padding-y grid-margin-x">
	<div class="large-4 cell">
		<div>
			<a href="http://www.health.belgium.be/eportal/index.htm?=&amp;fodnlang=fr" target="_blank">
				<img typeof="foaf:Image" src="{{ site.asset_path }}/images/fps-health-logo-front-fr_100297b85.png" width="263" height="100" alt="Logo SPF Santé publique">
				</a>
			</div>
			<br>
				<p>Nous suivre:</p>
				<div class="social-media-icons col-xs-12">
					<ul class="list-inline col-xs-12">
						<a href="{{ facebook_link }}" target="_blank">
							<i class="fab fa-facebook-square fa-3x"></i>
						</a>
						<a href="{{ twitter_link }}" target="_blank">
							<i class="fab fa-twitter-square fa-3x"></i>
						</a>
						<a href="{{ youtube_link }}" target="_blank">
							<i class="fab fa-youtube-square fa-3x"></i>
						</a>
					</ul>
				</div>
			</div>
	<div class="large-4 cell">
				<h3>En collaboration avec:</h3>
				<div>
					<a href="{{ partner1_link }}" target="_blank">
						<img src="{{ site.asset_path }}/images/inamib39852.png" width="125" height="108" alt="Logo INAMI">
						</a>
					</div>
					<div>
						<a href="{{ partner2_link }}" target="_blank">
							<img src="{{ site.asset_path }}/images/afcn11480d.png" width="150" height="43" alt="Logo AFCN">
							</a>
						</div>
					</div>
	<div class="large-4 cell">
						<a class="twitter-timeline" data-width="300" data-height="400" href="https://twitter.com/SanteBelgique" data-chrome="nofooter noborders">Last tweets</a>
						<script async="async" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
					</div>
</div>
<hr class="rule-style1">
<div align="center">
<a href="https://www.health.belgium.be/fr/information-juridique">Information juridique</a> | 
<a href="https://www.health.belgium.be/fr/declaration-de-confidentialite">Déclaration de confidentialité</a>
</div>