<div class="row">
<div class="federalheader">
	<div class="region region-federalheader">
		<section id="block-locale-language" class="block block-locale clearfix">
			<ul class="language-switcher-locale-url">
				<li class="nl active first">
					<a href="/nl" class="language-link active" xml:lang="nl" lang="nl">nl</a>
				</li>
				<li class="fr last">
					<a href="/fr" class="language-link" xml:lang="fr" lang="fr">fr</a>
				</li>
				<!--<li class="de">-->
				<!--	<a href="/de" class="language-link" xml:lang="de" lang="de">de</a>-->
				<!--</li>-->
				<!--<li class="en last">-->
				<!--	<a href="/en" class="language-link" xml:lang="en" lang="en">en</a>-->
				<!--</li>-->
			</ul>
		</section>
	</div>
	<div id="ofed-federal-header-wrapper">
		<div id="ofed-federal-header-link">Andere informatie en diensten van de overheid:
			<span>
				<a href="http://www.belgium.be/fr" target="_blank">www.belgium.be</a>
			</span>
		</div>
		<div id="ofed-federal-header-logo">
			<img typeof="foaf:Image" src="{{ site.asset_path }}/images/federalheader_logof40757.png" width="32" height="23" alt="Logo of the Belgian Federal Authorities">
			</div>
		</div>
	</div>
</div>