<div class="cell auto">
  <div class="grid-y">
	<div class="module">
	  	<div class="module-content">
            <h3>Links</h3>
            <ul>
    		<li><i class="fas fa-arrow-circle-right fa-xs" style="color:#008cba"></i><a href="#"> Site van de FOD Volksgezondheid - Veiligheid van de Voedselketen en Leefmilieu</a></li>
    		<li><i class="fas fa-arrow-circle-right fa-xs" style="color:#008cba"></i><a href="#"> Site van het Agentschap voor Geneesmiddelen en Gezondheidsproducten</a></li>
    		<li><a href="#">Link3</a></li>
    		<li><a href="#">Link4</a></li>
    	    </ul>
	    </div>
    </div>
  </div>
</div>